#noticias {
    background-color: #5298FF;
    padding-bottom: 70px;
}
article>h1, article>p {
    color: white;
    text-align: center;
}

/* CARRUSEL */
.c {
    list-style-type: none;
    display: flex;
    padding: 0px 80px 0px 80px;
    gap: 5px;
    width: auto;
    justify-content: space-between
}
item {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    height: 400px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
}
.noticiaUnoArriba {
    position: relative;
}
.noticiaUnoArribaImg {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.etiquetas, .etiquetaVoluntariado {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 15px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #5227CC;
    border-radius: 9px;
    height: 24px;
    width: 110px;
}
.etiquetaVoluntariado {
    width: 130px;
}
.infoUno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: 14px;
}
.fecha, .hora {
    display: flex;
    align-items: center;
    gap: 5px;
}
.infoDos {
    padding: 0px 15px 0px 15px;
    height: 120px;
}
.infoDos>h3 {
    font-size: 15px;
    height: 20px
}
.infoDos>p {
    padding-top: 15px;
    font-size: 11px;
}
.verMas {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 5px;
    font-size: 15px;
}